/** @format */
body {
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

  margin: 0;
  background-image: url("./images/battle.jpg");
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

#canvas {
  position: absolute;
  left: 16%;
  top: 18%;
  border-radius: 161px;
  background:black;
  box-shadow: inset 5px 5px 13px #293133, inset -5px -5px 13px #036f7b;
}

img {
  position: fixed;
  width: 25vh;
  display: flex;
  justify-content: center;
  margin-left: 40%;
  margin-top: 2vh;
}
.over {
  display: none;
}
#gameOver {
  position: absolute;
  top: 35%;
  margin-left: 38%;
  width: 80%;
  height: 80%;
  font-weight: bolder;
  
}
h1 {
  font-size: 50px;
  color: #DFAF2C;
  font-family: 'Londrina Solid', cursive;
}

button {
  position: absolute;
  top: 86vh;
  width: 15%;
  height: 10%;
  font-size: 20px;
  font-weight: bold;
  color:#DFAF2C;
  background-color: black;
  border-radius: 50px;
  box-shadow: inset 5px 5px 13px black, inset -5px -5px 13px #036f7b;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
}

#start-button {
  display: flex;
  justify-content: center
  background-color: black;
  border-radius: 36px;
  box-shadow: inset 5px 5px 13px black, inset -5px -5px 13px #036f7b;
  top:20%;
  margin-left: 5vh;
  text-align:center;
  color:#DFAF2C;
  font-family:'Londrina Solid', cursive;
}
h2{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  margin: auto;
  font-family: 'Londrina Solid', cursive;
}
