/** @format */
body {
  margin: 0;
  background-image: url("./images/battle.jpg");
  background-size: cover;
}

#canvas {
  position: absolute;
  left: 16%;
  top: 18%;
  border-radius: 161px;
  background: black;
  box-shadow: inset 5px 5px 13px #293133, inset -5px -5px 13px #036f7b;
}

img {
  width: 30vh;
  display: flex;
  justify-content: center;
  margin-left: 40%;
  margin-top: 2vh;
}
.over {
  display: none;
}
#gameOver {
  position: absolute;
  top: 50%;
  margin-left: 40%;
  color: white;
  width: 80%;
  height: 80%;
  font-weight: bolder;
}
h1 {
  font-size: 50px;
}
