/** @format */
body {
  margin: 0;
  /* background-image: url("/Users/sofiaould-abderrahmane/video Game/images/battle.jpg");
  background-size: cover;*/
}

#canvas {
  position: absolute;
  left: 16%;
  border: solid black;
  /*background-image: url("/Users/sofiaould-abderrahmane/video Game/images/battle.jpg");
  background-size: 1000px 800px;
  box-shadow: 8px 8px 8px black;*/
}
